.initial * {
  all: initial;
}
/*Initial settings*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  text-decoration: none;
} 
body {
	font-family: Lato, Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: white;
	padding: 0;
	margin: 0;
}
.border {
	border: 1em solid #004a99;
	width: 99%;
	padding: 10px;
	overflow: auto;
	margin: 0 auto;
	padding-top: 0.3em;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute; 
  text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #004a99;
  font-size: 0.8em;
  text-align: left;
  padding: 0.6em;
}
/*Media queries*/
@media only screen and (max-width: 1250px) {
.main {
	width: 95%;
}
aside {
	display: none;
	width: 1%;
}
}
header {
	background-color: #004a99;
	color: white;
	width: 100%;
	float: left;
	margin: 0 0 0.1em 0;
}
header a {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 0.15em solid white; 
	border-radius: 10%;
	padding: 0.2em;
}
h1 {
	color: white;
	margin: 0;
	padding: 0.7em; 
	float: left;
}
h2 {
	color: #004a99;
	font-weight: bold;
}
h3	{
	border: 0.5em solid #004a99;
	background-color: white;
	color: #F81010;
}
nav {
	font-size: 1.2em;
	font-weight: bold;
	width: 55%;
	float: right;
	padding: 2em 0.5em 1em 0.5em;
}
nav ul {
	padding: 0;
	margin: 0.5em;
	list-style-type: none;
	text-align: right;
}
nav li {
	display: inline;
	padding: 0.3em 1em 0em 0em;
}
nav a {
	display: inline-block;
	text-decoration: none;
	color: white;
}
img {
	border: 0.6em solid #004a99;
	padding: 0.1em;	
} 
article {
	width: 99%;
	float: left;
	padding: 0.5em;
	border: 1em solid #004a99;
	margin: 0.5em 0 0 0.5em;
}
aside {
	width: 99%;
	float: left;
	text-align: center;
	border: 1em solid #004a99;
	margin: 1em 0 0 0.5em;
	padding: 1em 7em 0em 7em;
}
.box1 {
	border: 0.6em solid #004a99;
	padding: 0.5em;
	background-color: white;
	background: linear-gradient(
	to bottom,
    #004a99,
    #004a99 50%,
    white 50%, 
    white
  );
	color: #B70413;
	text-align: center;
	font-weight: bold;
	font-size: 1.2vw;
}
.box {
	background-color: #004a99;
	color: white;
	margin: 0.1em;
	font-size: 2.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 0.1em;
	width: 98%;
}
.square {
	border: 1em solid #004a99;
	background-color: white;
	font-weight: bold;
	margin: 1em;
	padding: 1em;
	width: 30%;
	float: left;	
}
footer {
	margin: 0.2em;
	text-align: center;
	background-color: #004a99;
	color: white;
	padding: 0.2em;
	width:99%;
}
article ul { 
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a:hover {
	transform: scale(1, 1.65);
	color: #F81010;
}
article li{
	border: 0.6em solid #004a99;
	border-radius: 20%;
	background-color: #D1D1FE;
	font-weight: bold;
	margin: 1em;
	padding: 0.8em;
	width: 6em;
	float: left;
]

